.calculator {
  width: 250px;
  .calc-button-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    tr > td {
      width: 25%;
      padding: 10px;
      font-size: 18px;
      text-align: center;
      border: 1px solid #a0a0a0;
      background-color: #e0e0e0;
      cursor: pointer;
      &:active {
        background-color: #b4b4b4;
      }
      &:last-child {
        background-color: #F5923E;
        color: #fff;
        &:active {
          background-color: #e67d31;
        }
      }
    }
  }
  .calc-result {
    font-size: 34px;
    background-color: #999;
    color: #fff;
    padding: 20px 15px 10px;
    text-align: right;
    min-height: 30px;
  }
}
